body {
  background-color: rgb(255, 255, 255);
  font-family: 'Electrolize', sans-serif;
}

/* Personalizando el Navbar */
.navbar {
  background-color: var(--color-secundario)
}

.brand-container a {
  text-decoration: none;
}

.brand-container img {
  width: 30px;
}

/* Color personalizado para fondos de algunas secciones */

.bg-principal {
  background-color: #3b1b80;
}

/* Color personalizado para iconos de skills */

i {
  color: #ffffff;
}

/* Personalizando a los iconos por seccion*/
.icon-section {
  font-size: 30px;
}

/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

/* Footer Redes sociales */

footer i {
  font-size: 30px;
  color: var(--color-primario);
  color: rgb(255, 255, 255);
}