body {
  background-color: rgb(255, 255, 255);
  font-family: 'Electrolize', sans-serif;
}

/* Navbar brand styles */
.brand-container a {
  text-decoration: none;
}

.brand-container img {
  width: 30px;
}

/* Color personalizado para iconos en la seccion de skills */
.skills-icon .skills-icon-card i {
  color: #212529;
}

/* Personalizando a los iconos por seccion*/
.icon-section {
  font-size: 30px;
}

/* Footer Redes sociales */
footer i {
  font-size: 30px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}